.robot-container {
    width: 100%; 
    height: 200vh; 
    border: 7px solid white; 
    position: relative; 
    margin: 10px auto; 
    
}

.robot-face-shape {
   width: 400px; 
   height: 600px; 
   background-color: white; 
   margin: 150px auto; 
   position: relative; 
   border-radius: 12px 12px 90px 90px; 
   border: 7px solid green; 
}

.robot-eye-left {
  position: absolute; 
  border: 1px solid; 
  left: 100px; 
  width: 75px; 
  height: 75px; 
  top: 125px; 
  border-radius: 17px; 
    
}

.robot-eye-right {
    position: absolute; 
    border: 1px solid; 
    left: 250px; 
    width: 75px; 
    height: 75px; 
    top: 125px; 
    border-radius: 17px; 
    
    
}

.robot-ear-left {
  position: absolute; 
  width: 75px; 
  height: 125px; 
  background-color: red; 
  left: 35%; 
  top: 300px; 
  border-radius: 17px 0 80px 0px;
}

.robot-ear-right {
    position: absolute; 
    width: 75px; 
    height: 125px; 
    background-color: red; 
    left: 61%; 
    top: 300px; 
    border-radius: 0px 17px 0px 80px;

}

.robot-nose {
    width: 150px; 
    height: 100px; 
    background-color: fuchsia;
    position: absolute; 
    top: 250px; 
    left: 125px; 
    border-radius: 90px 90px 0 0; 
  }




.robot-teeth {
 width: 200px; 
 height: 75px; 
 background-color: gold; 
 position: absolute; 
 bottom: 40px; 
 left: 97px; 

  }
  

.robot-hair-style {
 
    --r: 25px; /* radius of circles */
    height: 120px;
    width: 400px;
    aspect-ratio: 1;
    padding: calc(1.5*var(--r));
    background: #e97f02;
    mask: 
      linear-gradient(#000 0 0) no-repeat
       50%/calc(100% - 2*var(--r)) calc(100% - 2*var(--r)), 
      radial-gradient(farthest-side,#000 97%,#0000) 
       0 0/calc(2*var(--r)) calc(2*var(--r)) round;
       position: absolute; 
       top: 100px; 
       left: 40%; 
  }
    



.robot-hair-one {
    width: 5px; 
    background-color: rgb(240, 209, 209); 
    height: 35px; 
    border-radius: 90px 90px 170px 190px; 
    position: absolute; 
    top: 35px; 
    left: 65px; 
  
}

.robot-hair-two {
    width: 7px; 
    background-color: rgb(202, 183, 183); 
    height: 40px; 
    border-radius: 50%; 
    position: absolute; 
    top: 50px; 
    left: 180px; 
    border-radius: 10px 20px 20px 90px; 

}

.robot-hair-three {
    width: 7px; 
    background-color: rgb(221, 201, 201); 
    height: 60px; 
    border-radius: 50%; 
    position: absolute; 
    top: 40px; 
    left: 280px;
    border-radius: 100px 200px 400px 0;     
}
